
header{
    background: #222;
    color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
nav ul {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
nav ul li {
    list-style: none;
    
}
nav ul li a {
    text-decoration: none;
    color: brown;
    transition: background 0.3s ,color 0.3s ;
}
nav ul li a:hover{
    background-color: aqua;
    color: yellow;
}